$header-height: 60px;
$footer-min-height: 60px;
$main-max-height: calc(100vh - (60px + 60px));

$football-bg-top-height: 35vh;
$football-table-element-size: 3em;
$football_ball_size: 5vw;
$football_ball_animate_size: 3vw;
$football_ball_position_left: 17%;
$football_ball_position_animate_left: 57%;
$football_ball_position_bottom: 3vh;
$football_ball_position_animate_bottom: 15vh;
